body {
    background-color: lightgray;
}

h3 {
     color:rgba(22, 94, 82, 0.644);
     
}
h2 {
  color:rgba(22, 94, 82, 0.644);
  
}

/* img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
} */

p {
   font-family: 'Lucida Sans';
   font-size: 14;
   text-align: justify;
}

.card {
  background-color: white;
  border: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.card-header{
  background-color: white;
}

.card-footer{
  background-color: darkgrey;
  color:white;
}
/* .navbar {
         padding-left: 50px;
} */

.navbar-brand{
  color:white;
  padding: 20px;
  border: 1px;
  background-color:rgba(22, 94, 82, 0.644);
  
             
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: rgba(22, 94, 82, 0.644);
}

  .navbar-brand {
                 background-color: rgba(22, 94, 82, 0.644);
                 color:white;
}
}